// variables
$grey: #494949;
$dark-grey: #1c1c1c;
$light-grey: #c8c8c8;
$custom-blue: #637ab4;
$light-blue: #e9efff;
$dark-blue: #435993;
$font-Roboto: 'Roboto', sans-serif;
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
//helpers
@import "helpers/bootstrap";
@import "helpers/media-queries";
@import "helpers/svg";
// sections
@import "sections/content";
//blocks
@import "blocks/nav";
//common styles
* {
  box-sizing: border-box;
}
body {
  font-family: $font-Roboto;
  font-weight: 300;
  color: $dark-grey;
}
.container {
  max-width: 770px;
  position: relative;
}
