.content {
  position: relative;
  background-color: $light-grey;
  background-image: url("../img/bgd.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
  @include tablet-min {
    padding-bottom: 250px;
  }
  @include desktop-min {
    padding-bottom: 450px;
  }
  @include retina {
    background-size: contain;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba($white,1) 0, rgba($white,1) 92%, rgba($white,0) 100%);
  }
  &__title {
    padding-top: 120px;
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 4.375rem;//70px
    color: $black;
  }
  &__subtitle {
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 1.875rem;//30px
  }
  &__text {
    max-width: 500px;
    margin: -50px auto 40px;
  }
}
//====================================================
.icon {
  display: inline-block;
}
//====================================================
input, select, textarea {
  color: $dark-blue !important;
}
//====================================================
select {
  cursor: pointer;
}
//====================================================
.option-custom {
  display: none;
}
//====================================================
.placeholder {
  color: $light-grey;
  font-size: 1.25rem;//20px
  line-height: 1;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.2s;
  pointer-events: none;
  @include tablet-min {
    font-size: 1.5rem;//24px
  }
}
//====================================================
textarea + .placeholder {
  top: 10px;
  left: 45px;
  transform: translate3d(0, 0, 0);
  font-size: 1.25rem;//20px
}
//====================================================
.prompt {
  left: 5px;
  top: 0;
  transform: translate3d(0, -20px, 0);
  font-size: 1rem;
}
//====================================================
textarea + .prompt {
  left: 15px;
  top: 0;
  transform: translate3d(0, -25px, 0);
}
//====================================================
.btn-custom {
  margin-top: 50px;
  color: rgba($white, 0.7);
  background-color: $dark-blue;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  padding: 15px 35px;
}
//====================================================
.custom-checkbox {
  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    &::before, &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      border: 1px solid $dark-blue;
      border-radius: 2px;
    }
  }
  .custom-control-input:hover + label::before {
    background-color: $light-blue;
  }
  .custom-control-input:checked + label::before {
    background-color: $dark-blue;
  }
  .custom-control-input:checked + label::after {
    // will set the svg as background-image and width/height
    @include inline-svg($checked_icon);
    left: 4px;
  }
}
//====================================================
#personal {
  padding-bottom: 50px;
  .icon {
      // will set the svg as background-image and width/height
      @include inline-svg($personal_icon);
  }
}
//====================================================
#experience {
  padding-bottom: 50px;
  .icon {
      // will set the svg as background-image and width/height
      @include inline-svg($experience_icon);
  }
}
//====================================================
#about .icon {
      // will set the svg as background-image and width/height
      @include inline-svg($about_icon);
}
